@import url('https://fonts.googleapis.com/css?family=Consolas:400,700');

body {
  background-color: #FEF2D8;
  font-family: "Consolas";
  color: #696969;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 60px;
  margin-bottom: 60px;
}

#date {
  margin-right: 500px;
  margin-left: 800px;
  margin-bottom: 150px;
  margin-top: 60px;
}

#dear {
  margin-bottom: 40px;
}

#healing {
 margin-top: 40px; 
}

#niko {
  margin-top: 40px;
}
