@import url('https://fonts.googleapis.com/css?family=Consolas:400,700');

body {
  background-size: 600px;
  background-color: #FEF2D8;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 225px;
  font-family: "Consolas";
  color: #696969;
  width: 875px;
  position: relative;
}

#date {
  margin-right: 500px;
  margin-left: 775px;
  margin-bottom: 150px;
  margin-top: 60px;
}

#dear {
  margin-bottom: 40px;
}

#healing {
 margin-top: 40px; 
}

#niko {
  margin-top: 40px;
}
